@import "tailwindcss";


@theme{
  --color-primary:#008170;
  --color-accent:#005B41;
  --color-surface:#232D3F;
  --color-bg:#0F0F0F; 
  --color-text-primary:#FFFFFF; 
  --color-text-secondary:#94A3B8; 
  --color-text-muted:#475569; 


  /* custom font */
  --font-manrope: 'Manrope';
}

body {
  @apply bg-bg text-text-primary font-manrope;
}



/* auth page related css */
.auth-form-input{
  @apply text-text-primary  rounded-[12px] border-2 border-accent px-3 py-2 focus:outline-none focus:bg-transparent outline-none
}


.primary-btn{
  @apply bg-primary rounded-[20px] text-center w-full px-3 py-2 hover:bg-[#07AD97] transition-colors duration-300 cursor-pointer
}

.google-btn{
  @apply  rounded-[20px] text-center w-full px-3 py-2 bg-[#171B24]/80  flex 
  items-center justify-center  gap-2 transition-colors duration-300 cursor-pointer hover:bg-[#171B24]
}













@font-face{
  font-family: 'Manrope';
  font-display: swap;
  src: url('/public/fonts/Manrope-VariableFont_wght.ttf') ;
}
